body {
    background-color: aqua;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0 0 20px white;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-style: oblique;
}

.styled-table td {
    background-color: #00c79f;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.login-box {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 1000px;
    padding: 40px;
    transform: translate(-50%, -10%);
    background: white;
    box-sizing: border-box;
    box-shadow: 0 15px 25px white;
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}

span {
    color: aqua;
}

h1 {
    color: aqua;
}

h4 {
    color: aqua;
}